@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Order"];
}


﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Telsar Logistics</h1>
    <p>Welcome to the Homepage of the Telstar Logicistics Application.</p>
</div>

